{
    "instance": "https://na174.salesforce.com",
    "client_id": "2MVG9LBJLApeX_PD3xIQFoGio_ZU3QqhLi3wyUwaZbmfD6UjvMnQUg1roWmUYZAF2Kq2jIOi6IhxJSCmm6ydg",
    "client_secret": "D5186E3760D2%75FEBDE7DA0684A046F19FAD319954ECF940B33007524C0EFC2",
    "username": "user@domain.com",
    "password": "zzzMxZ2Q38TWZJzetbMKmHkdCjXVu0WObagY0HDX7MRw6WkRq"
}

